@import "import1/../css/background.css";
#import {
  color: red;
}
#imported1 {
  color: blue;
  background: url('import1/assets/logo.png');
}
#imported2 {
  color: black;
}
#commonImported1 {
  color: green;
}
#commonInImported2 {
  color: purple;
}
#imported0 {
  color: orange;
}
